html {
  font-size: 62.5%;
}

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --grayish-magenta: hsl(303, 10%, 53%);
  --light-gray: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --stars: #ff9529;
}

body {
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  background: url("imgs/bg-pattern-top-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin: 1rem 2.5rem;
}

/* Typography */

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: var(--dark-magenta);
}

.text--grayish {
  color: var(--grayish-magenta);
}

.intro p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.35rem;
}

.intro {
  text-align: center;
}

/* Rating Card */

.rating-card {
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.rating-card:first-child {
  margin-top: 3.5rem;
}
.rating--checked {
  color: var(--stars);
}

.fa-star {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
.rating-card h2 {
  color: var(--dark-magenta);
  font-size: 1.35rem;
}
